<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ia2hathitrust.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ia2hathitrust.Properties.Settings>
            <setting name="institution" serializeAs="String">
                <value />
            </setting>
            <setting name="start_date" serializeAs="String">
                <value />
            </setting>
            <setting name="end_date" serializeAs="String">
                <value />
            </setting>
            <setting name="save_file" serializeAs="String">
                <value />
            </setting>
            <setting name="search_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="custom" serializeAs="String">
                <value />
            </setting>
        </ia2hathitrust.Properties.Settings>
    </userSettings>
</configuration>